<fsa-default-layout>
  <mat-toolbar header>
    <fsa-text-editor-actions
      (folderEntries)="handleFolderEntries($event)"
      (saveChanges)="saveChanges$.next()"
    ></fsa-text-editor-actions>
  </mat-toolbar>
  <fsa-files-tree
    (onEditFile)="onEditFile($event)"
    [files]="currentFolderEntries$ | async"
    right-side
  ></fsa-files-tree>
  <fsa-text-editor
    (changedContent)="changedContent$.next($event)"
    [content]="fileContent$ | async"
    main
  ></fsa-text-editor>
</fsa-default-layout>
