/* You can add global styles to this file, and also import other style files */
@import "reset.scss";
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
